<h1>Listing resolves</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Completed</th>
    <th>Compleated date</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resolves.each do |resolve| %>
  <tr>
    <td><%= resolve.name %></td>
    <td><%= resolve.date %></td>
    <td><%= resolve.completed %></td>
    <td><%= resolve.compleated_date %></td>
    <td><%= resolve.user_id %></td>
    <td><%= link_to 'Show', resolve %></td>
    <td><%= link_to 'Edit', edit_resolf_path(resolve) %></td>
    <td><%= link_to 'Destroy', resolve, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resolve', new_resolf_path %>
